{% extends "coins/base.html" %}
{% load staticfiles %}

{% block title %}{{ coin.title }} - Detail{% endblock %}

{% block load_js %}
<script type="text/javascript">
$(document).ready(function() {        
    // carousel starter
    $('.carousel').carousel()

    // map/carousel swapper
    $('#swap-button').click(function() {
        var bigHtml = $('#big-div').html();
        var smallHtml = $('#small-div').html();

        var currCenter = map.getCenter();

        $('#small-div').html(bigHtml);
        $('#big-div').html(smallHtml);

        initialize();
        check_map_zoom();
    });
});
</script>
{% endblock %}

{% block load_map %}

      // LOAD COINS MAP MARKERS
      {% if coin %}
      find_loc = new google.maps.LatLng({{ coin.find_location.lat }}, {{ coin.find_location.lon }});
      mint_loc = new google.maps.LatLng({{ coin.mint_location.lat }}, {{ coin.mint_location.lon }});
      
      bounds.extend(find_loc);
      bounds.extend(mint_loc);

      var find_marker = new google.maps.Marker({
      position: find_loc,
      map: map,
      title: 'Find Location',
      });

      var mint_marker = new google.maps.Marker({
      position: mint_loc,
      map: map,
      title: 'Mint Location',
      });

      {% endif %}

{% endblock %}

{% block content %}
<div class="well col-md-3" style="height: 80%;">
  <h1>{{ coin.title }}</h1>

  <p><b>Date:</b> {{ coin.date_start }}-{{ coin.date_end }}</p>
  <p><b>Denomination:</b> {{ coin.denomination }}</p>
  <p><b>Minting Authority:</b> {{ coin.minting_authority }}</p>
  <p><b>Minted:</b> {{ coin.mint_location.name }}</p>
  <p><b>Found:</b> {{ coin.find_location.name }}</p>
  <p><b>Obverse Legend:</b> {{ coin.obverse_legend }}</p>
  <p><b>Reverse Legend:</b> {{ coin.reverse_legend }}</p>
  <p><b>Bibliography:</b> {{ coin.bibliography }}</p>

  <button id="swap-button" type="button" class="btn btn-default">Swap!</button>

  <div id="small-div" style="height: 40%;">
  <div id="coin-carousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for image in images_list %}
      {% if forloop.first %}
      <li data-target="#coin-carousel" data-slide-to="0" class="active"></li>
      {% else %}
      <li data-target="#coin-carousel" data-slide-to="{{ forloop.counter0 }}"></li>
      {% endif %}
      {% endfor %}
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for image in images_list %}
      {% if forloop.first %}
      <div class="item active">
	{% else %}
	<div class="item">
	  {% endif %}
	<img src="{{ image.image.url }}" alt="" style="margin: auto; height: 100%;" >
      </div>
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#coin-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#coin-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
  </div>

</div>

<div id="big-div" class="well col-md-8" style="height: 80%; margin-left: 40px; padding: 0;">
  <div id="map-canvas"/>
</div>

{% if error_message %}<p><strong>{{ error_messgae }}</strong></p>{% endif %}
{% endblock %}
