{% extends "coins/base.html" %}
{% load staticfiles %}

{% block title %}View Collection{% endblock %}

{% block load_map %}

      // LOAD COINS MAP MARKERS
      {% if coins_list %}
          {% for coin in coins_list %}
          {% if coin.find_location.lon %}
          var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
	  '<a href="{% url 'detail' coin.id %}">'+
          '<h1 id="firstHeading" class="firstHeading">'+
	  '{{ coin.title }}</h1>'+
	  '</a>'+
          '<div id="bodyContent">'+
          '<p><b>{{ coin.obverse_legend }}</b></p>'
	  '</div>'+
	'</div>';

      var infowindow = new google.maps.InfoWindow({
      content: contentString
      }); 

      var lat_lng = new google.maps.LatLng({{ coin.find_location.lat }}, 
                                           {{ coin.find_location.lon }}
                                          );
      
      bounds.extend(lat_lng);

      var marker = new google.maps.Marker({
      position: lat_lng,
      map: map,
      });
      
      google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
      });
    
      {% endif %}
      {% endfor %}
      {% endif %}

{% endblock %}

{% block content %}

<div id="the_viewer" class="well">
  <div id="map-canvas"/>
</div>

{% endblock %}
